<div class="container">
  <nav style="margin-bottom: 20px;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="#">Main</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Cars</a></li>
      </ul>
    </div>
  </nav>
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <app-home-page></app-home-page>
      <app-cars-page></app-cars-page>
    </div>
  </div>
</div>

